{% extends "component-manager/_layouts/settings" %}
{% set title = "Interface Settings"|t('component-manager') %}
{% set fullPageForm = true %}
{% set selectedSettingsItem = 'interface' %}

{% set crumbs = [
    {
        label: pluginName ?? 'Component Manager',
        url: url('component-manager'),
    },
    {
        label: 'Settings'|t('component-manager'),
        url: url('component-manager/settings'),
    },
    {
        label: 'Interface'|t('component-manager'),
        url: url('component-manager/settings/interface'),
    },
] %}

{% import "_includes/forms" as forms %}

{% block content %}
    <h2>{{ 'Interface Settings'|t('component-manager') }}</h2>

    {{ actionInput('component-manager/settings/save') }}
    {{ redirectInput('component-manager/settings/interface') }}
    {{ hiddenInput('section', 'interface') }}

        {% include 'lindemannrock-base/_partials/field-items-per-page' with {
            settings: settings,
            pluginHandle: 'component-manager',
        } only %}

    {% include 'lindemannrock-base/_components/plugin-credit' %}
{% endblock %}
